@import "./../_variables.scss";
.job {
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(62deg, $color-background-primary, $color-background-secondary);
}