@import "./../_variables.scss";
.education {
  height: 100vh;
  background-image: linear-gradient(to bottom, $color-background-secondary, $color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
