.footer {
  display: flex;
  flex-direction: column;

  padding-top: 8rem;

  background: $color-background-footer;

  height: 50rem;

  &__buttons {
    display: flex;
    align-self: flex-end;
    margin-right: 18vw;

    &--link {
      margin-right: 1.5rem;

      img {
        width: 40px;
      }
    }
  }

  &__mail {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 9rem;
  }

  &__mail-title, &__mail-button {
    color: $color-font-primary;
    font-size: $font-size-large;
  }

  &__mail-title {
    margin-left: 32vw;
  }

  &__mail-button {
    color: $color-highlight;
    transition: all 1s;
    width: 90%;

    &:hover {
      transform: skewX(-20deg);
    }
  }
}
