@import "./../_variables.scss";
.home {
  margin: auto;
  background: black;
  display: flex;
  justify-content: center;

  position: relative;

  height: 100vh;

  &__welcome {
    position: absolute;
    color: $color-font-primary;

    display: flex;
    flex-direction: column;

    z-index: 1;
    left: 10vw;
    bottom: 30vh;

    &--upper {
      font-size: $font-size-primary;
      margin-bottom: 1rem;
      //font-family: 'Taviraj', serif;
      font-family: 'Port Lligat Slab', serif;
    }

    &--bottom {
      font-size: $font-size-title;
      // font-family: 'Zilla Slab', serif;
      //font-family: 'Baloo Tamma 2', cursive;
      font-family: 'Be Vietnam', sans-serif;
    }
  }

  &__photo {
    width: 100%;
    height: 100vh;
    position: relative;

    img {
      height: 100vh;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__buttons {
    display: flex;

    margin-top: 14px;

    &--link {
      margin-right: 10px;

      img {
        width: 40px;
      }
    }
  }
}