.home {
  margin: auto;
  background: black;
  display: flex;
  justify-content: center;

  position: relative;

  height: calc(100vh - 20rem);

  &__logo {
    position: absolute;
    top: 6rem;
    left: 6rem;
    color: $color-font-primary;
    font-size: $font-size-medium;

    &--middle {
      animation: logoAnimation 10s infinite;
    }
  }

  &__welcome {
    position: absolute;
    bottom: 30%;
    left: 10rem;
    color: $color-font-primary;

    display: flex;
    flex-direction: column;

    &--upper {
      font-size: $font-size-primary;
      margin-bottom: 1rem;
      font-family: 'Taviraj', serif;
    }

    &--bottom {
      font-size: $font-size-title;
      font-family: 'Zilla Slab', serif;
    }
  }

  &__photo {
    width: 100%;
    position: relative;

    img {
      height: 80%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@keyframes logoAnimation {
  0% {
    transform: translateY(10px);
  }
  5% {
    transform: translateY(10px) rotate(-22deg);
  }
  10% {
    transform: translateY(10px) rotate(30deg);
  }
  20% {
    transform: translateY(10px) rotate(-18deg);
  }
  30% {
    transform: translateY(10px) rotate(20deg);
  }
  50% {
    transform: translateY(10px) rotate(-4deg);
  }
  75% {
    transform: translateY(5px) rotateY(180deg);
  }
  95% {}
}
