.works {
  &__header {
    color: $color-font-primary;
    border-bottom: 4px solid $color-background-secondary;
    text-align: left;
    font-size: $font-size-medium;

    width: 100%;
    max-width: 100rem;

    &--title {
      font-family: 'Zilla Slab', serif;
      font-style: italic;
      letter-spacing: 2.5px;
    }
  }

  //&:first-child {
  //  background-image: linear-gradient(to bottom, $color-white, $color-background-secondary);
  //}
  //&:nth-child(2) {
  //  background-image: linear-gradient(to bottom, $color-background-secondary, $color-background-primary);
  //}
  //background: #170e19; // #241F36;

  height: 100vh;
  width: 100%;

  //margin-top: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  &__title {
    position: absolute;
    width: 50vw;
    font-size: 5rem;
    color: #aba8bb;

    &--right {
      right: -3vw;
      bottom: 30vh;
    }

    &--left {
      left: 3%;
      top: 23vh;
    }

    &--white {
     // color: white;
    }

    &--black {
     // color: black;
    }
  }

  &__circle {
    position: absolute;
    //transform: translate(-50%, -50%); // the page resizes when it's on

    &:first-child img {
      animation-delay: 2s;
    }

    &:nth-child(4) img {
      animation-delay: 4s;
    }

    &:nth-child(3) img {
      animation-delay: 6s;
    }

    &:nth-child(5) img {
      animation-delay: 8s;
    }
  }

  &__image {
    border-radius: 50%;
    border: 6px solid #ABA8BB;
    padding: 6px;

    height: 20rem;
    width: 20rem;

    animation: makeBigger 10s infinite;
    transform: translate(-50%, -50%);
  }
}

@keyframes makeBigger {
  0% {
    height: 20rem;
    width: 20rem;
    border-width: 6px;
    padding: 6px;
    opacity: 0.5;
  }
  35% {
    height: 20rem;
    width: 20rem;
    border-width: 6px;
    padding: 6px;
    opacity: 0.5;
  }
  50% {
    height: 25rem;
    width: 25rem;
    z-index: 1;
    border-width: 14px;
    padding: 16px;
    opacity: 1;
  }
  65% {
    height: 20rem;
    width: 20rem;
    border-width: 6px;
    padding: 6px;
    opacity: 0.5;
  }
  100% {
    height: 20rem;
    width: 20rem;
    border-width: 6px;
    padding: 6px;
    opacity: 0.5;
  }
}
