$color-background-primary: #1D121F;
$color-background-secondary: #2C1D2E;

$color-highlight: #EEC800;

$color-text-light: #8F8BA4;
$color-font-primary: #ABA8BB;

$font-size-tertiary: 1.1rem;
$font-size-secondary: 1.5rem;
$font-size-primary: 1.7rem;
$font-size-medium: 2rem;
$font-size-title: 2.7rem;

//$color-background-secondary: #94A4A5;
$color-white: #d9f1fd;
$color-red: #982222;
