$color-header: #150d17;
$color-background-primary: #1d121f;
$color-background-secondary: #2C1D2E;

$color-highlight: #EEC800;

$color-text-light: #8F8BA4;
$color-font-primary: #ABA8BB;
$color-font-primary-light: #c2bfd2;

$font-size-tertiary: 1.2rem;
$font-size-secondary: 1.4rem;
$font-size-primary: 2rem;
$font-size-medium: 2.4rem;
$font-size-title: 3.5rem;
