$color-background-primary: #1d121f;
$color-background-secondary: #2C1D2E;
$color-background-tertiary: #241F36;
$color-background-footer: #1B252A;

$color-highlight: #EEC800;

$color-text-light: #8F8BA4;
$color-font-primary: #ABA8BB;
$color-font-primary-light: #c2bfd2;

$font-size-tertiary: 1.2rem;
$font-size-secondary: 1.4rem;
$font-size-primary: 2rem;
$font-size-medium: 2.4rem;
$font-size-title: 3.5rem;
$font-size-title-large: 4rem;
$font-size-large: 4.5rem;

//$color-background-secondary: #94A4A5;
$color-white: #d9f1fd;
$color-red: #982222;
